
h2 {
    font-family: var(--citrus-gothic-inline);
    font-style: var(--normal-style);
    font-weight: var(--citrus-regular);
}

li {
    font-family: var(--citrus-gothic-rough);
    font-style: var(--italic);
    font-weight: var(--citrus-regular);
}

p {
    font-family: var(--zedou);
    font-style: var(--normal-style);
    font-weight: var(--zedou-light);
}

/* Class Selectors */


/* ID Selectors */
#jumbotron {
    margin: 0 auto;
    height: 50vh;
    width: 100%;
    background-color: lightgray;
}

#test {
    margin: 0 auto;
}

#navbar {
    height: 4.5rem;
    width: 100%;
    margin: auto 0;
}

#nav-links {
    display: inline-flex;
    list-style: none;
    float: right;

}

#nav-item{
    padding: 0 2rem;
}